<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @sku.description %>
</p>

<p>
  <b>Size:</b>
  <%= @sku.size %>
</p>

<p>
  <b>Color:</b>
  <%= @sku.color %>
</p>

<p>
  <b>Img url:</b>
  <%= @sku.img_url %>
</p>

<p>
  <b>Gender:</b>
  <%= @sku.gender %>
</p>



<%= link_to 'Edit', edit_sku_path(@sku) %> |
<%= link_to 'Back', skus_path %>
